<%= form_for(@message, html: {class: "form-horizontal"}) do |f| %>
    <% if @message.errors.present? %>
        <div class="alert alert-danger">
          <%= alert %>
          <ul>
            <% @message.errors.full_messages.each do |full_message| %>
                <li>
                  <%= full_message %>
                </li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <label for="inputName" class="col-sm-1 control-label">名前</label>
      <div class="col-sm-11">
        <%= f.text_field :name, class: "form-control", id: "inputName", placeholder: "名前" %>
      </div>
    </div>

    <div class="form-group">
      <label for="inputContents" class="col-sm-1 control-label">内容</label>
      <div class="col-sm-11">
        <%= f.text_area :body, class: "form-control", id: "inputContents", rows: "4", placeholder: "内容" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-10 col-sm-2">
        <%= f.submit class: "btn btn-lg btn-primary" %>
      </div>
    </div>
<% end %>
